.liebiao {
    border-width: 1px;
    border-style: solid;
}

/* 按钮 */
.layer-button {
    display: inline-block;
    height: 28px;
    line-height: 28px;
    margin: 5px 5px 0;
    padding: 0 15px;
    border: 1px solid #dedede;
    background-color: #fff;
    color: #333;
    border-radius: 2px;
    font-weight: 400;
    cursor: pointer;
    text-decoration: none;
}
.layer-blue-button {
    border-color: #1E9FFF;
    background-color: #1E9FFF;
    color: #fff!important;
}

.layer-button:hover {
    opacity: .9;
    text-decoration: none;
}